@import 'tailwindcss';

@theme inline {
  --color-green-kpp: #00bf63;
  --color-default: #21243d;
}

@media (prefers-color-scheme: dark) {
}

html {
  font-size: 10px;
  margin: 0rem;
  padding: 0rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
